{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo_b.ico' %}"/>
    <title>Dynamic Rater</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand mr-4" href="/"><img height="60px" src="{% static 'logo_b.png' %}"></a>
                <span class="navbar-brand">Dynamic Rater</span>
            </div>
            
            <div>
                <span style="color:rgb(218, 218, 218)" id="pid"></span>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>


    {% block javascript %}{% endblock %}


</body>
</html>