{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="mt-5 mb-3">Thank you for your cooperation!</h1>

<p>Have a nice day.</p>

<div id="optcom" class="m-5">
    <h2>Optional comment</h2>
    <form>
        <div class="mb-3">
            <!-- <label for="optquestion" class="form-label fs-4">Question</label> -->
            <div id="optcommenthelp" class="form-text">Tell us if you have anything you would like to share with us before leaving.</div>
            <textarea type="text" class="form-control" id="optcomment" aria-describedby="optcommenthelp"></textarea>
        </div>
    </form>
    
    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-lg btn-success" onclick="validateExperiment()">VALIDATE THE SURVEY</button>
    </div>


</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/end.js' %}"></script>
{% endblock %}