{% extends "base.html" %}
{% load static %}

{% block content %}
 <!-- GET RATERID AND RECORDING LIST -->
 <script type="text/javascript">
    var trainingSegments = JSON.parse("{{ trainingSegments|escapejs }}");
    console.log("Training segments:",trainingSegments)
    var segments = JSON.parse("{{ segments|escapejs }}");
    console.log("Real segments:",segments)
    var segmentsFolder = "{{ segmentsFolder|escapejs }}";
    var trainingSegmentsFolder = "{{ trainingSegmentsFolder|escapejs }}";
    console.log("Folders",segmentsFolder, trainingSegmentsFolder)
</script>
<!------------------------------------->

<div id="trainingPhaseDiv">
    <h1>A short training</h1>
    <p>Here is a brief training.</p>
</div>
<div id="experimentPhaseDiv" style="display:none">
    <h1>Audio <span id="currentSegmentNb"></span>/<span id="totalSegmentsNb"></span></h1>
</div>
<p>When you are ready, press the <strong>start</strong> button. The audio will start playing, and play until the end. You cannot pause nor rewind. It will play only once.</p>
<p>As soon as you feel you struggle to understand, even a little, for any reason, press the <strong>I'm struggling</strong> button. You can press it as many times as you want; do not hesitate to press it several times within each audio.</p>

<!-- Display audio wave-form -->
<div class="mt-3 mb-5" style="position: relative; min-height: 150px; width: 100%;">
    <!-- Wave-form -->
    <div id="waveform" style="border:1px solid blueviolet">
        <!-- the waveform will be rendered here -->
    </div>

    <!-- Loading and play screen -->
    <div id="playMask" style="position: absolute; width: 100%; top:0; height: 100%; z-index: 100; background-color: rgba(0, 0, 0, 0.3);">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">

            <button type="button" class="btn btn-lg m-1" onclick="document.getElementById('playMask').style.display='none'; wavesurfer.play();" disabled id="startBtn"></button>
        </div>
    </div>

</div>


<div id="dynamicRating">
    <div class="d-flex flex-column align-items-center">
        <div>
            <p>Press this button each time you feel you are struggling to understand the speaker:</p>
        </div>
        <div>
            <button type="button" class="btn btn-lg btn-primary m-2 text-capitalize" style="padding: 15px 40px; font-size: 1.3em;" onclick="struggling()">I'm struggling</button>
        </div>
    </div>
</div>


<div id="globalRating" style="display: none;">
    <div class="d-flex flex-column align-items-center">
        <div>
            <p class="fs-4 fw-bold" style="color:darkviolet; box-shadow: darkviolet 0px 0px 5px 1px; border-radius: 5px; padding: 5px 20px;">Thank you!</p>
        </div>
    </div>

    <form>
        <div class="mb-5">
            <label for="globalPron" class="form-label fs-4">Overall pronunciation accuracy</label>
            <div class="row">
                <div class="col-3 text-end">
                    Very poor pronunciation
                </div>
                <div class="col-6">
                    <input type="range" class="form-range" id="globalPron">
                </div>
                <div class="col-3 text-start">
                    Nativelike pronunciation
                </div>
            </div>
        </div>
    
        <div class="mb-5">
            <label for="globalFluency" class="form-label fs-4">Overall fluency</label>
            <div class="row">
                <div class="col-3 text-end">
                    Very poor fluency
                </div>
                <div class="col-6">
                    <input type="range" class="form-range" id="globalFluency">
                </div>
                <div class="col-3 text-start">
                    Very fluent
                </div>
            </div>
        </div>

        <div class="mb-5">
            <label for="globalComp" class="form-label fs-4">Overall easiness to understand</label>
            <div class="row">
                <div class="col-3 text-end">
                    Very hard to understand
                </div>
                <div class="col-6">
                    <input type="range" class="form-range" id="globalComp" onchange="document.getElementById('next').classList.remove('disabled')">
                </div>
                <div class="col-3 text-start">
                    Very easy to understand
                </div>
            </div>
        </div>
    
        <div class="mb-3">
            <label for="globalComment" class="form-label fs-5">What features in the speaker's pronunciation do you think made it harder to understand? What could be improved to be easier to understand?</label>
            <!-- <div id="globalCommenthelp" class="form-text">What did disturb you most in the student speech?</div> -->
            <textarea type="text" class="form-control" id="globalComment" aria-describedby="globalCommenthelp"></textarea>
          </div>
    
      </form>
    
    <div class="d-flex justify-content-end mb-5">
        <button type="button" id="next" class="btn btn-lg btn-success disabled" onclick="validateQuestionnaire()">Continue</button>
    </div>
    
    <div class="d-flex justify-content-end mb-5" style="display: none !important;">
        <button type="button" id="end" class="btn btn-lg btn-success disabled" onclick="">End!</button>
    </div>
</div>
{% endblock %}



{% block javascript %}
<!-- Audio wave-form -->
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/timeline.min.js"></script>

<!-- Custom js -->
<script src="{% static 'js/exp.js' %}"></script>
{% endblock %}