{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Welcome!</h1>
<p>Thank you very much for taking part in this experiment.</p>

<div>
    <p id="idMessage"></p>
    
    <div id="manualIdDiv" style="display:none">
        <div class="mb-3 d-flex">
            <label for="manualId" class="col-form-label me-2">Your Prolific ID</label>
            <div class="me-2">
                <input type="text" class="form-control" id="manualId" style="width:250px" placeholder="5a9d64f5f6dfdd0001eaa73d">
            </div>
            <div class="">
                <button type="button" class="btn btn-success" onclick="validateManualId()">Validate</button>
            </div>
        </div>
    </div> 
</div>

<h2>Study description</h2>
<p>We are investigating the phenomena that make it harder to understand speech from non-native speakers.</p>

<h2>Task description</h2>
<ul>
    <li>After answering a few questions about your linguistic background, you will listen to a serie of recordings from foreign students speaking in English.</li>
    <li>While listening to the recordings, you will have to <strong>press a button each time you feel you are struggling to understand</strong>, even a little, for any reason.</li>
    <li>Recordings last about <strong>30 seconds each</strong>. Once started, you cannot pause or rewind and the audio will play until the end. You can play each audio only once.</li>
    <li>You can pause as long as you need between each recording.</li>
    <li>After listening to each recording, you will be asked a few questions about the speaker's performance.</li>
    <li>The whole task takes about <strong>35 minutes</strong>, but you can take as long as you need.</li>
</ul>


<h2>Requirements</h2>
<ul>
    <li>Choose a quiet environment.</li>
    <li>Please use a PC/Mac/tablet, do not use your phone for this experiment.</li>
    <li>Use headphones if you can, or make sure to have loud enough sound to do the task.</li>
</ul>


<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-success" id="startBtn" disabled onclick="loadQrPage()">Start</button>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}