{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="max-width: 700px; margin: auto;">
    <h1>Your linguistic background</h1>

    <p>First tell us briefly about your linguistic background.</p>

    <form>
        <div class="row mt-5 mb-3">
            <div class="col">
                <label for="motherTongue" class="form-label">Your mother tongue(s)<span style="color:red"> *</span></label>
                <input type="text" id="motherTongue" class="form-control" aria-label="mother tongue" required onchange="initField(this)">
            </div>
            <div class="col">
              <label for="country" class="form-label">Where do you live now?<span style="color:red"> *</span></label>
                <select id="country" class="form-select" required onchange="initField(this)">
                    <option selected disabled value="">Choose...</option>
                    <option value="uk">UK</option>
                    <option value="us">USA</option>
                    <option value="fr">France</option>
                    <option value="jp">Japan</option>
                    <option value="en">Elsewhere in an English-speaking country</option>
                    <option value="xx">Elsewhere in a non-English-speaking country</option>
                </select>
            </div>
          </div>
    
        <div class="mb-3">
          <label for="question1" class="form-label">Which language(s) have you ever learnt as a foreign language?<span style="color:red"> *</span></label>
          <input type="text" class="form-control" id="question1" aria-describedby="question1help" required onchange="initField(this)">
          <div id="question1help" class="form-text">For example: French in high school, 3 years; Japanese, DuoLingo 3 months</div>
        </div>
    
        <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-lg btn-success" onclick="checkQrAnswers()">Continue</button>
        </div>
      </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/qr.js' %}"></script>
{% endblock %}